html,body {
    margin: 0;
    overflow-x: hidden;
}

.App {
  text-align: center;
  display: flex;
  /*align-items: center;*/
  /*justify-content: space-around;*/
  flex-direction: column;
  border: 2px solid rgba(220,100,0,0.9);
  font-family: monospace;
  font-size: calc(12px + 1.5vmax);
  box-sizing: border-box;
}

.App-link {
  color: #61dafb;
}

.aboutText {
    display: flex;
    padding: 20px;
    align-items: center;
    background: rgba(220,10,20,0.6);
    width: 100%;
    box-sizing: border-box;
    font-weight: bold;
}

.Posts {
    display: flex;
    flex: 1;
    border: 2px solid rgba(200,50,0,0.8);
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
}

.Post {
    border: 1px solid rgba(230,210,200,1);
    text-align: left;
    margin: calc(0px + 2vmax); 
    padding: 22px;
    padding-left: 30px;
    background: rgba(220,200,180,1);
    font-size: 0.75em;
    line-height: 1.2em;
    position: relative;
    max-width: 1000px;
}

.fileName {
    font-size: 1.2em;
    position: absolute;
    top: -0.5em;
}

img {
    width: calc(100%);
}

.Post h1 {
    line-height: 1.0em;
}

.PostWrapper {
    /*width: 60vmax;*/
    max-width: 1000px;
}

image {

}

code {
    border-radius: 5px;
    background: rgba(0,0,0,0.8);
    padding: 3px;
    color: #fefefe;
    font-size: 0.8em;
}

pre {
    border-radius: 5px;
    background: rgba(0,0,0,0.8);
}

pre code {
    background: none;
}

button {
    font-family: inherit;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-color:none;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    color: rgba(200, 100, 50, 1);
    font-size: 0.7em;
    width: 100%;
}

.ReactMarkdown {
    margin-bottom: 40px;
}